---
import { getArticles } from "../lib/content/articles"
import { siteTitle } from "../lib/site"
import SiteDocument from "../components/SiteDocument.astro"

const articleCount = (await getArticles()).length
---

<SiteDocument title={siteTitle}>
  <main data-article-count={articleCount}>
    <h1>{siteTitle}</h1>
  </main>
</SiteDocument>
