---
import "../styles/reset.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ryan Hayward&apos;s Blog</title>
  </head>
  <body>
    <main>
      <h1>Ryan Hayward&apos;s Blog</h1>
    </main>
  </body>
</html>
